<section class="thirteen columns">
    <h1>Teaching Experience</h1>
    <article>
        <header>
            <h1>Teacher assistant in undergraduate course “Microprocessors” [Dr.kordrostami]</h1>
            <span><address>Shiraz University of Technology, IR<span></address><time>2014</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Teacher assistant in undergraduate course “Microcontrollers” [Dr.Shafiei]</h1>
            <span><address>Shiraz University of Technology, IR<span></address><time>2013</time></span>
        </header>
        <p>
       </p>
    </article>
    <article>
        <header>
            <h1>Teacher assistant in undergraduate course “Microcontrollers” [Dr.Safarinejadian]</h1>
            <span><address>Shiraz University of Technology, IR<span></address><time>2013</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Teaching of a complete course on “AVR Microcontrollers”, SuTech Summer School </h1>
            <span><address>Shiraz University of Technology, IR<span></address><time>2014</time></span>
        </header>
        <p>
        </p>
    </article>
    
</section>
