<section class="thirteen columns">
    <h1>Training and workshop participation</h1>
    <article>
        <header>
            <h1>Microcontrollers</h1>
            <span><address>Shiraz University of Technology, IR<span></address><time>2012</time></span>
        </header>
        <p>
           Training courses in “Protel,Proteus, Avr Stdio,CodeVisionAVR,”,.SuTech Students Association.
        </p>
    </article>
    
    <article>
        <header>
            <h1>Avr microcontroller</h1>
            <span><address>Navidedu, IR</address><time>2013</time></span>
        </header>
        <p>
           “Avr microcontroller programming“.,
        </p>
    </article>
    
    <article>
        <header>
            <h1>MATLAB</h1>
            <span><address>Navidedu, IR</address><time>2013</time></span>
        </header>
        <p>
           “MATLAB programming”
        </p>
    </article>
    
</section>
