<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>AVR</h1>
        </header>
        <p>
<br /> -Automatic irrigation system planning with Keypad and AVR micro controller,.
<br /> -Automatic irrigation system Optimized for homes, apartments and urban gardens.,
<br /> -Schools Smart Alarm.,
<br /> -Smart Air Conditioner.,
<br /> -Intelligent Greenhouse.,
<br /> -Light intensity control by controlling the angle of fire.,
<br /> -Digital voltmeter (from 0v to 25v DC).,
<br /> -Traffic light controller.,
<br /> -Infrared remote control.,
<br /> -Smart house (on/off devices using SMS).,
<br /> -Scientific calculator., &…         
        </p>
    </article>
    <article>
        <header>
            <h1>ARM</h1>
        </header>
        <p>
<br />-Recycle And Reward vending machine, Implemented with AtSam7x256
<br />-Smart comprehensive kit for electrical control system of houses, apartments, urban gardens,… Implemented with AtSam7x256.,         
<br />-A communication network using CAN protocol Implemented with STM32F103,.
        </p>
    </article>
 
    <article>
        <header>
            <h1>STM8</h1>
        </header>
        <p>
<br />-Smart School alarm system planning by Bluetooth [Smart phone, ...], Implemented with STM8f003.,
<br />-Automatic irrigation system planning with Bluetooth connection to individual homes ,implemented with STM8f003.,
<br />-Word Clock planning with Bluetooth, implemented with STM8f003.,      

        </p>
    </article>
    
    <article>
        <header>
            <h1>ESP8266</h1>
        </header>
        <p>
<br />-Smart Incubator with wifi
<br />-Automatic irrigation system planning with wifi    
        </p>
    </article>
    
    <article>
        <header>
            <h1>Artificial intelligence</h1>
        </header>
        <p>
<br />-Skin Lesion Analysis towards Melanoma Detection Using Deep Learing [PyTorch]
        </p>
    </article>
 
 </section>
