<section class="thirteen columns">


    <h1>Skills & Proficiency</h1></h2> [Artificial Intelligence and Robotics]</h2>
    <article>
        <header>
            <h1>Programming languages:</h1>
        </header>

        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Python</em>,  <em>MATLAB</em>.
        </p>

    </article> 
    
     <article>
        <header>
            <h1>Deep Learning Frameworks:</h1>
        </header>
      
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PyTorch</em>.
        </p>
        
    </article>

     <article>
        <header>
            <h1>Web  Scraping: </h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Scrapy</em>.
        </p>

    </article>   



    <h1>Skills & Proficiency [Electrical Engineering]</h1>
    <article>
        <header>
            <h1>Programming languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++</em>,  <em>BASIC [Bascom AVR]</em>.
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>x86 Assembly</em>.
        </p>
    </article> 
    
     <article>
        <header>
            <h1>Microcontrollers:</h1>
        </header>
      
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>AVR (ATmega & ATtiny family)</em>,&nbsp;<em>STM8 (Stm8s003f -& ...)</em>,&nbsp;<em> ESP8266 </em>,&nbsp;<em>Arduino (UNO, Meag & ...)</em>.
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>ARM7 family (AT91Sam7x & AT91Sam7s)</em>,&nbsp;<em>ARM Cortext-M3 family(STM32Fx)</em>,
        </p>
 
      
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Raspbery Pi</em>.
        </p>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PIC</em>,&nbsp;<em>PLC (Step7 , mini)</em>,&nbsp;<em>ARM Cortex-M0</em>,&nbsp;<em>8051 </em>.
        </p>
        
    </article>

     <article>
        <header>
            <h1>Software</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>IAR Embedded Workbench(STM8 & ARM)</em>, <em>Arduino</em>, <em>Keil uVision4</em>, <em>BascomAvr</em>, <em>CodeVision AVR</em>
            
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>P-Spice 9.2</em>, <em>Atmel Studio</em>, <em>LaTex</em>, <em>Protel-DXP</em>, <em>MATLAB</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Microsoft Office(Word ,Excel ,PowerPoint, Publisher)</em>
        </p>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em> Adobe Photoshop</em>, <em>Adobe Indesign </em>
        </p>
    </article>   
  
   


    <h1>Skills & Proficiency [Other]</h1>
  
     <article>
        <header>
            <h1>Software</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Microsoft Office(Word ,Excel ,PowerPoint, Publisher)</em>
        </p>
        
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em> Adobe Photoshop</em>, <em>Adobe Indesign </em>
        </p>
    </article>   
  
   
    <article>
        <header>
            <h1>Version control system</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Git</em>.
        </p>
    </article>
 
</section>
